.admin-login {
  .login-header {
    background-color: map_get($login-top, 'background');
    padding: 80px 0;
    .logos {
      margin: auto;
      max-width: 25rem;
      text-align: center;
    }
    .brand {
      text-decoration: none;
    }
    .logo {
      max-width: 10rem;
      margin-bottom: 20px;
      fill: map_get($login-top, brand);
      -webkit-transition: fill 0.3s;
      -moz-transition: fill 0.3s;
      -ms-transition: fill 0.3s;
      -o-transition: fill 0.3s;
      transition: fill 0.3s;
      &:hover {
        fill: map_get($login-top, 'brand-hover');
      }
    }
    .client-logo {
      fill: map_get($login-top, 'brand');
    }
  }
  .login-body {
    padding-top: 50px;
    color: map_get($login-bottom, 'text');
    max-width: 50rem;
    .alert {
      margin-bottom: 35px;
    }
    .login-form {
      margin: auto;
      max-width: 25rem;
    }
  }
}
