.bootstrap-select {
  .btn-light {
    border: 1px solid #ced4da;
    background-color: #fff;
  }
  &.show {
    .btn-light {
      background-color: #fff;
    }
  }
}

.form-group.datetime-group {
  display: flex;

  .datepicker {
    flex: 2;
    margin-right: 5px;
  }

  .timepicker {
    flex: 1;
    &::-webkit-inner-spin-button, &::-webkit-clear-button {
      -webkit-appearance: none;
    }
  }
}

.datepicker-dropdown {
  padding: 8px;

  .active, .today.active {
    background-color: map_get($bootstrap, 'primary') !important;
  }

  .today {
    background-color: map_get($datepicker-today, 'background') !important;
    color: map_get($datepicker-today, 'text') !important;
    &:hover {
      background-color: unset;
    }
  }

  .day {
    padding: 5px 7px;
  }
}
