// Global styling for this template

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background-color: map_get($global, background);
}

body.sticky-footer {
  margin-bottom: $sticky-footer-height;
  .content-wrapper {
    min-height: calc(100vh - #{$sticky-footer-height} - #{$navbar-base-height});
  }
}

body.fixed-nav {
  padding-top: $navbar-base-height;
}

a {
  color: map_get($global, link);

  &:hover {
    color: map_get($global, link-hover);
  }
}

.content-wrapper {
  min-height: calc(100vh - #{$sticky-footer-height});
  padding-top: 1rem;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 3px;

  display: none;

  width: 50px;
  height: 50px;

  text-align: center;

  color: white;
  background: fade-out($gray-800, .5);

  line-height: 45px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

.admin-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.dropdown-item:active {
  background-color: $gray-200;
  color: inherit;
}

.action-btn-group {
  display: flex;
  justify-content: flex-end;
  .btn {
    margin-left: 5px;
  }
}

.btn-group-toggle {
  .btn {
    opacity: 0.4;
    &.active {
      opacity: 1;
    }
  }
}

.badge.status-badge {
  line-height: 24px;
  width: 100%;
  font-size: 0.875rem;
}

.dropdown-menu {
  .dropdown-item {
    cursor: pointer;
    i {
      margin-right: 5px;
    }

    &.dropdown-info:hover {
      background-color: rgba($cyan, 0.1);
    }

    &.dropdown-warning:hover {
      background-color: rgba($yellow, 0.2);
    }

    &.dropdown-danger:hover {
      background-color: rgba($red, 0.1);
    }

    &.dropdown-success:hover {
      background-color: rgba($green, 0.1);
    }
  }
}

.breadcrumb {
  background-color: map_get($breadcrumb-bar, background);
  font-weight: 500;
  .breadcrumb-item a {
    color: map_get($breadcrumb-bar, link);
    &:hover {
      color: map_get($breadcrumb-bar, link-hover);
    }
  }
  .breadcrumb-item.active {
    color: map_get($breadcrumb-bar, link-active);
  }
}

.pagination {
  .page-item {
    background: map_get($pagination, background);
    a {
      color: map_get($pagination, link);
    }

    a:hover {
      background: map_get($pagination, background-hover);
      color: map_get($pagination, link-hover);
    }

    &.active {
      a {
        background: map_get($pagination, background-active);
        color: map_get($pagination, link-active);
        border-color: map_get($pagination, border-active);
      }
    }

    &.disabled {
      a {
        color: map_get($pagination, link-disabled);
      }
    }
  }
}
