.mce-tinymce {
  box-shadow: none;
  border: none;

  .mce-top-part {
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    &:before {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
    .mce-toolbar-grp {
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      border-radius: 0.25rem;
    }
  }

  .mce-edit-area {
    border: none;

    iframe {
      border: 1px solid #ced4da;
      box-sizing: border-box;
      -webkit-border-radius: 0.25rem;
      -moz-border-radius: 0.25rem;
      border-radius: 0.25rem;
    }
  }

  .mce-statusbar {
    display: none;
  }

}

.is-invalid .mce-tinymce iframe {
  border-color: #dc3545;
}
