.posts {
  .post {
    margin-bottom: 30px;

    .featured-image {
      width: 100%;
      height: auto;
    }

    .card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-text {
        margin-bottom: 20px;
      }
    }
  }
}
